body {
  font-family: "Courier New", Courier, monospace;
  overflow-y: scroll;
}

nav {
  margin: 0 auto;
  max-width: 768px;
  padding: 2em;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav li {
  display: inline;
  margin: 0 auto;
  padding: 0 0.5em;
  font-size: 2em;
}

nav a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.home {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home h1 {
  font-size: 500%;
}

.content {
  text-align: left;
  font-size: large;
  /*margin: 0 20% 0 20%;*/
  padding: 0 16px;
  max-width: 768px;
  margin: 0 auto;
}

.content h1,
.content h2 {
  margin: 5% 0 5% 0;
}

.content:not(#gallery) img {
  display: block;
  margin: 0 auto;
  padding: 16px 0;
  width: 100%;
}

.content .page:not(:last-child) {
  border-bottom: 1px solid #aaaaaa;
}

footer {
  text-align: center;
}

.home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.home-footer hr {
  display: none;
}

#gallery {
  margin-top: 32px;
}

#gallery .image {
  margin-bottom: 16px;
  transition: opacity 0.2s ease-in;
  opacity: 0;
  will-change: opacity;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#gallery .image.loaded {
  opacity: 1;
}

#gallery .lightbox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
}

#gallery .animated-image {
  position: fixed;
  z-index: 40;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

@media(max-width: 768px) {
  .home h1 {
    font-size: 250%;
  }
}
